<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%# Use the title from a page's frontmatter if it has one %>
    <title><%= current_page.data.title || psalm.title %></title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlighting" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav>
      <%= link_to 'Úvod', '/' %>

      <%= link_to 'Každodenní texty', '/kazdodenni.html' %>
      <%= link_to 'Žaltář', '/zaltar.html', title: 'Čtyřtýdenní cyklus žaltáře' %>
      <%= link_to 'Temporál', '/temporal.html', title: 'Vlastní žalmy pro liturgické doby' %>
      <%= link_to 'Sanktorál', '/sanktoral.html', title: 'Vlastní žalmy pro svátky svatých' %>
      <%= link_to 'Společné texty', '/commune.html', title: 'O posvěcení kostela, Společné texty o svatých, Za zemřelé' %>

      <%= link_to 'Rejstřík', '/rejstrik.html', title: 'Všechny žalmy a kantika v biblickém pořadí' %>

      <%= link_to 'Odkazy', '/odkazy.html' %>
    </nav>

    <%= yield %>

    <footer>
      <% if content_for? :footer %>
        <%= yield_content :footer %>
      <% else %>
        <%= partial 'report_issue' %>
      <% end %>
    </footer>
  </body>
</html>
