<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || psalm.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "pointing" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav>
      <%= link_to 'Homepage', '/' %>
      <%= link_to 'Každodenní texty', '/kazdodenni.html' %>
      <%= link_to 'Žaltář', '/zaltar.html', title: 'Čtyřtýdenní cyklus žaltáře' %>
      <%= link_to 'Rejstřík', '/rejstrik.html', title: 'Všechny žalmy a kantika v biblickém pořadí' %>
    </nav>

    <%= yield %>
  </body>
</html>
