- items.each_pair do |occasion, hours|
  %h3= occasion
  - hours.each_pair do |hour, psalms|
    %p.psalms-list
      %span= hour + ':'

      - if psalms.is_a?(String)
        - if psalms =~ /^\((.*?)\)$/
          %em= $1
        - elsif psalms == 'rchne1t'
          %em
            Z
            %a{href: '/kazdodenni.html#rch'} neděle 1. týdne žaltáře
        - elsif psalms =~ /^(ne|ut|pa)([1-4])t$/
          %em
            Z
            %a{href: "/zaltar.html#t#{$2}#{$1}"}
              = {'ne' => 'neděle', 'ut' => 'úterý', 'pa' => 'pátku'}[$1]
              = "#{$2}."
              týdne žaltáře
        - else
          - raise "unexpected #{psalms.inspect}"
        - next

      - psalms.each do |i|
        - case i.to_s
        - when '1tim3'
          1 Tim 3 (zpívá se na
          %a{href: in_adiutorium_sheet_link('kant1Tim3')} vlastní nápěv
          )
        - when 'zj19'
          = partial 'kantikum_zj19'
        - when /^\d+(?!kron|sam|petr)/
          = psalm_link "zalm#{i}"
        - when /^\((.*?)\)$/
          %em= $1
        - else
          = psalm_link "kantikum_#{i}"
