---
title: Každodenní texty
---

<h1>Každodenní texty</h1>

<p>
  Biblické texty zpívané v&nbsp;denní modlitbě církve každý den.
</p>

<h2>Žalmy invitatoria</h2>

<p>
  Žalm 95 se tradičně zpívá na
  <a href="<%= in_adiutorium_sheet_link 'chorinvit' %>">vlastní prokomponované nápěvy</a>.
  Zpívat ho na běžný nápěv psalmodie je možné jako zjednodušení.
</p>

<p class="psalms-list">
  <%= psalm_link 'zalm95' %>
  <%= psalm_link 'zalm100' %>
  <%= psalm_link 'zalm67' %>
  <%= psalm_link 'zalm24' %>
</p>

<h2>Evangelní kantika</h2>

<ul>
  <li><%= link_to 'Zachariášovo kantikum / Benedictus', psalms['kantikum_benedictus'].web_path %></li>
  <li><%= link_to 'Kantikum Panny Marie / Magnificat', psalms['kantikum_magnificat'].web_path %></li>
  <li><%= link_to 'Simeonovo kantikum / Nunc dimittis', psalms['kantikum_nuncdimittis'].web_path %></li>
</ul>

<h2>Modlitba se čtením nedělí a svátků</h2>

<p>
  Te Deum se tradičně zpívá na
  <a href="<%= in_adiutorium_sheet_link 'tonicommunes' %>">vlastní prokomponovaný nápěv</a>.
  Zpívat ho na některý z&nbsp;běžných nápěvů psalmodie je možné jako zjednodušení.
</p>
<p>
  <%= link_to 'hymnus Bože, tebe chválíme / Te Deum', '/tedeum.html' %>
</p>

<h2 id="rch">Ranní chvály svátků</h2>
<p>
  <%= hour_link 'Z neděle prvního týdne žaltáře', %w(zalm63 kantikum_dan3iii zalm149), hour: 'ranni' %>:
</p>
<p class="psalms-list">
  <%= psalm_link 'zalm63' %>
  <%= psalm_link 'kantikum_dan3iii' %>
  <%= psalm_link 'zalm149' %>
</p>

<% data.psalter.each_pair.find {|key, val| key =~ /Doplňovací cyklus/ }.yield_self do |title, hours| %>
  <h2><%= title %></h2>
  <% hours.each_pair do |subtitle, psalms| %>
    <%= partial 'psalms_list', locals: {title: subtitle, items: psalms} %>
  <% end %>
<% end %>
